body{
    align-items: center;
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
}

.container{
    
    width: 63.5%;
}
.upper-box{
    align-items: center;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    background-color: teal;
    color: black;
}


.upper-box-items {
    /* display: flex;
    flex-direction: row;
    align-items: flex-end; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

.upper-box-item:not(:last-child){
    margin-right: 10px;
}

.bottom-box{
    border: 3px solid purple;
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: end;
}

.Weather-box{
    border: 3px solid orange;
    display: flex;
    flex-direction: column;
}

.previous-searches{
    
}

.main-title{
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    padding: 1rem;
    border: 3px solid limegreen;
}

.upper-box-item-button{
  background-color: lightgrey;  
  color: black 6px;
  border: double;
  border-width: thin;
  border-color: black;
  border-radius: 3px;
}

.upper-box-item-button:active {
    background-color: darkslategray;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
  }